// casos de uso Destacados


.asidecasos
	margin-bottom 7em
	position relative
	.casossection
		margin-bottom 2em
		.casoswrap
			text-align center
			.figurecasos
				width 100%
				height 11em
				overflow hidden
				box-shadow 0 2px 2px grisClaroOscurecido
			.figurecasos img
				display block
				margin-left auto
				margin-right auto
			.h2casos
				color verdecesped
				font-size 1em
				font-weight 400
			.pcasos
				color grisClaroOscurecido
				font-size .9em
				font-weight 300
				padding 0 1.5em
			.acasos
				color grisOscuro
				font-size .7em
				text-decoration none
				font-weight 400
				cursor pointer
				transition all .3s ease
			.acasos:hover
				color verdecesped
				cursor pointer





// @media (max-width: 991px)


