// CLientes Destacados ex. home...

.asidecesped
	margin-top 3em
	.clientessection.clientessection__min
		.clienteswrap
			.clientesborder
				padding-top 2em
				padding-bottom 0
				border 1px solid grisClaro
				.h2clientes
					padding 1em 0em
					margin-top -3.1em
					font-weight 300
					position absolute
					color grisClaro
					width 500px
					left 50%
					margin-left -250px
			.imagenes-clientes
				padding-top 0
				padding-bottom 2em
	.clientessection
		.clienteswrap
			.clientesborder
				border 1px solid verdecesped
				position relative
				text-align center
				padding-bottom 1em
				.h2clientes
					display inline-block
					text-align center
					font-size 1.3em
					color grisOscuro
					font-weight 400
					background white
					padding 1em 2em
					margin-top -2.5em
					.subh2clientes
						padding-top .3em
						color grisClaroOscurecido
						display block
						clear both
				.pclientes
					max-width 80%
					margin 0 auto
					font-size .9em
					color grisClaroOscurecido
					line-height 1.5em
			.imagenes-clientes
				padding-top 2em
				padding-bottom 1em
				position relative
				text-align center
				.imagenes-clientes-figure
					display inline-block
					margin-right .8em
				.imagenes-clientes-figure:last-child
					margin-right 0
				.imagenes-clientes-figure img
					opacity .5
					transition all 1s ease
					max-width 7em
					hight auto
					overflow hidden
					filter: gray; /* IE6-9 */
					-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
					-moz-filter: grayscale(100%);
					-ms-filter: grayscale(100%);
					-o-filter: grayscale(100%);
					filter: grayscale(100%);
				.imagenes-clientes-figure:hover img
					opacity 1
					-webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
					-moz-filter: grayscale(0);
					-ms-filter: grayscale(0);
					-o-filter: grayscale(0);
					filter: grayscale(0);

// @media (max-width: 991px)

