// colores

grisOscuro = #333
grisClaro =  #CCC
grisClaroPlus = #ebebeb
grisClaroOscurecido =  #A0A0A0
verdecorp = #7cd107
verdecesped = #76C30B

.gris-oscuro
	color grisOscuro

.gris-claro, .gris-claro a
	color grisClaro
.gris-claro_darker, .gris-claro_darker a
	color grisClaroOscurecido
.verde-cesped
	color verdecesped


// menu
navMenuItem = black


