// Aside Blog Destacados


.asidecesped
	margin-bottom 5em
	.blogsection
		.h2
			vertical-align middle
			font-size 1em
			color grisOscuro
			padding-left 2em
			padding-bottom 1em
			.square-green
				size .5em .5em
				margin-right  .5em
				display inline-block
				background-color verdecesped
			.gotolink
				font-size .6em
				color grisOscuro
				cursor pointer
				text-decoration none
				vertical-align middle
				padding-left 1.5em
			.gotolink:hover
				color verdecesped
				cursor pointer
		.wrpaflex
			display flex

		.blogarticle
			display: flex;
			flex-direction: column;
		.blogarticle > div
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: auto;
			background-color white
			box-shadow 0 1px 2px grisClaro
			padding-bottom .5em
			position relative
			.imgblogdestacada
				size 100% 13em
				background grisClaro
				background-size: cover
				.fechablog
					width 6em
					background verdecesped
					opacity .8
					text-align center
					display inline-block
					margin-left 1.5em
					padding 1em
					color white
					font-size .8em
					font-weight 300
			.imgblogdestacada.blog1
				background url("../img/blog1.png") center
			.imgblogdestacada.blog2
				background url("../img/blog2.png") center
			.imgblogdestacada.blog3
				background url("../img/blog3.png") center
			h3.h3resumen
				font-size .9em
				color grisOrcuro
				font-weight 500
				padding .1em .5em
			p
				font-size .9em
				color grisClaroOscurecido
				font-weight 300
				padding .1em .5em
			.degradado-blog
				margin 0
				padding 0
				size 100% 5em
				position absolute
				background linear-gradient(top, transparent, 70% white)
				bottom 0




// @media (max-width: 991px)


