// footer
.footercesped
	.pierecuadro
		border-top 1px solid verdecesped
		box-shadow 0 1px 2px grisClaro
		margin-bottom 2em
		padding-top 1em
		padding-bottom  1em
		.logo-footer
			margin 1em
		.logo-footer img
			width 30%
		.icodeco-cesped-pie
			display: block
			margin-right: 0.9em
			margin-top: -2.9em
			margin-bottom: 1em
			font-size: 1.2em
		.flaticon-cesped:before
			font-size 2em
		.telefono
			font-size 1.2em
			font-weight 500
			margin-bottom 0
			padding-bottom 0
			margin-top .4em
			margin-right 0.3em
		.mail
			margin-right: 0.35em
			margin-top 0
			padding-top 0
	.menu-footer
		font-size .7em
	.redsocial
		display inline-block
		border-radius 50%
		background-color grisClaro
		text-decoration none
		transition: all 1s ease
		font-size: .8em
		margin 0 .2em
		&:hover
			background-color verdecesped
	.redsocial.flaticon-fb:before,
	.redsocial.flaticon-tw:before
		padding 0!important
		font-size 1.1em
		display block
		color white
	.redsocial.flaticon-fb:before
		margin-left 0.54em!important
		margin 0.60em 0.54em 0.40em
	.redsocial.flaticon-tw:before
		margin-left 0.54em!important
		margin 0.58em 0.54em 0.48em





