// header
.headercesped
	.toplevel
		margin-bottom 2em
	.main-logo
		padding-left 0.6em
		.logo-header
			margin 0
			margin-bottom 1em
		.logo-header img
			width 45%
	.buscar-en-todocesped
		.flaticon-buscar:before
			margin-left 0 
			font-size 1em
			color white
		.input-group
			.input-group-addon
				background-color verdecesped
				border 0
				border-radius 0
			.form-control 
				border-radius 0
				background-color grisClaroPlus
				border 0
			.form-control:hover,.form-control:focus
				    box-shadow none
	.data-and-media
		padding-right 0
		.telefono
			color grisOscuro
			font-weight 500
			margin-bottom 0
			padding-bottom 0
			margin-top .4em
			margin-right: 1em
			font-size 1.2em
		.email
			color verdecesped
			margin-right: 1em
			margin-top 0
			padding-top 0
			font-size .8em
	.carrito-header
		border 1px solid grisClaro
		margin-top 1em
		// ****** PEDRO ******
		padding-right 50px 
		.text-carrito-header
			font-size .8em
			color grisClaroOscurecido
			padding 1.3em 1.7em 0.6em 0
			margin 0
			// *** PEDRO ***
			text-align left
		
		// ********* PEDRO **********
		// .flaticon-cesta
		// 	text-decoration none
		// 	position absolute
		// 	background-color white
		// 	margin-top -2.2em
		// 	margin-left -1.3em
		// 	font-size 1em
		// 	padding 0.2em 0
		// .flaticon-cesta:before
		// 	color grisClaroOscurecido
		// 	font-size 2em
		// .numbre-in-cesta
		// 	margin-left 2em
		// 	margin-top -1.4em
		// 	display block
		// 	position absolute
		// 	color grisOscuro
			
		.cesta
			background-image url(../img/header-bag.png);
			background-repeat no-repeat
			background-size cover
			width 53px
			height 59px
			position absolute
			top -20px
			right 10px
	.redsocial
		display inline-block
		border-radius 50%
		background-color grisClaro
		text-decoration none
		transition: all 1s ease
		font-size: .8em
		margin .1em .2em 0
		&:hover
			background-color verdecesped
	.redsocial.flaticon-fb:before,
	.redsocial.flaticon-tw:before
		padding 0!important
		font-size .8em
		display block
		color white
	.redsocial.flaticon-fb:before
		margin-left 0.58em!important
		margin 0.57em .58em .45em
	.redsocial.flaticon-tw:before
		margin-left 0.55em!important
		margin 0.58em 0.55em 0.48em





