// estilos generales

.main-content-wrap
	.banners-home
		.figurebanners,.figurebanners img
			width 100%
			overflow hidden
		.h2banners
			text-align center
			font-size 1em
			color grisOscuro
			text-align center
		.pbanners
			text-align center
			font-size .9em
			color grisClaroOscurecido
	.products-home
		font-size .8em
		.carousel-cesped-productos
			.item figure
				overflow hidden
				width 100%
			.item figure img
				width 100%
			.item
				.nombre-producto
					color grisOscuro
					font-weight 500
					padding .5em 0 .2em
				.precio
					font-size 1.3em
					color verdecesped
					font-weight 400
					margin-bottom 0
					padding-bottom 0
					.precio-current
						font-weight 700
				.ivaincluido
					margin-top 0
					padding-top .3em
					font-size .6em
					color grisClaro
				.descuento
					text-align center
					padding-top .5em
					margin: 0 auto
					width 80%
					border-top 1px solid grisClaro
					color grisClaroOscurecido
					font-weight 300
					.precio-descuento
						font-weight 500
						color grisOscuro
		.customNavigation
			.prev,.prev2,.prev3
				float: left
				margin-left: -2.2em
			.next,.next2,.next3
				float: right
				margin-right: -.2em
			position absolute
			margin -10em 0 0
			width 100%
			.flaticon-siguiente:active,.flaticon-siguiente:focus
				outline none
				box-shadow none
			.flaticon-siguiente
				&:before
					color grisClaro
				&:first-child
					transform rotate(180deg)
			.flaticon-siguiente:hover:before
				color grisClaroOscurecido
	.products-home h1
		font-size 1.8em
		color grisOscuro
		text-align center
		font-weight 400
	.slider-home
		.pegar-abajo
				bottom 0
		.carousel-indicators li
				background-color white
				transition all .3s ease
		.carousel-indicators li.active
			background-color verdecesped
			border 2px solid verdecesped
		.carousel-inner
			box-shadow 0 1px 2px grisClaroOscurecido
			.carousel-caption
				padding-bottom 60px
			.carousel-caption h2
				font-weight 300
				font-size 1.8em
			.carousel-caption p
				font-size .8em
				font-weight 300
			.carousel-caption .boton-slider
				color white
				background rgba(255, 255, 255, 0)
				transition all .5s ease
				border 2px solid white
				display inline-block
				padding .5em 1em
				text-decoration none
				cursor pointer
				text-shadow none
				font-weight 300
				font-size .9em
			.carousel-caption .boton-slider:hover
				background rgba(255, 255, 255, 1)
				color verdecesped
	.main-content-extra
		font-size .8em
		margin-bottom 2em
	.main-aside
		.main-aside-cats
			border 1px solid verdecesped
			padding-top 3em
			margin-top 1.5em
			margin-bottom 2.5em
			.h2cats
				position absolute
				width 100%
				text-align center
				margin 0
				top 0
				left 0
				padding 1em 0
				color white
				font-size .7em
				font-weight 400
				background verdecesped
			.ulcats
				list-style none
				padding 0
				margin 0
				.licats
					margin-bottom .5em
					.acats
						color grisClaroOscurecido
						text-align left
						text-decoration none
						font-size .9em
					.flaticon-cesped:before
						color verdecesped
						margin-right 1em
						margin-left: 0.5em;
						font-size .8em
					.acats:hover
						color verdecesped
				.licats:last-child
					margin-bottom 1em
		.main-aside-tutos
			margin-top .5em
			margin-bottom 1em
			padding-top 2em
			padding-bottom 2em
			background verdecesped
			color white
			box-shadow 0 2px 1px verdeOscuro
			font-size .9em
			.ptutos
				font-weight 300
				margin-bottom .2em
			.atutos
				font-weight 400
				color verdeOscuro
				text-decoration none
				transition all .5s ease
				cursor pointer
			.atutos:hover
				color white
			.flaticon-cesped:before
				position: absolute
				right: .8em
				bottom: -1px
			.flaticon-cesped:before
				opacity .3
				font-size 1.8em
		.main-aside-europeo
			margin-top 1.5em
			margin-bottom 1.5em
			padding 2em 0 2em 35%
			background azulEuro url("../img/europe-logo.png") 20px center no-repeat
			background-size 30%
			color white
			letter-spacing 2px
			text-align center
			.peuro
				color white
				font-weight 300
				.span-europeo
					color amarilloEuro


