// estilos generales

.main-content-wrap
	.main-content
	.main-content-extra
	.main-aside
		.main-aside-instalacion
			background grisClaroPlus
			margin-bottom 1em
			.h2instalacion
				text-align center
				color azulOsuro
				font-size .9em
				font-weight 400
				margin-bottom 5em
				margin-top 2em
			.form-group
				.wrap-slider-in
					max-width 40%
				.slider-wrap-m2
					left 0
					margin -3em 0 0
					position absolute
					width 100%
					.col-area-1,.col-area-2,.col-area-3
						margin 0
						padding 0
					.col-area-1
						width 20%
						float left
						text-align left
						padding-left .9em
					.col-area-2
						float left
						margin 0
						padding 0
						border 0
						position relative
					.col-area-2 input
						width 70%
					.col-area-3
						width 30%
						float right
						text-align right
						padding-right .9em
					.area
						font-size .7em
						color grisClaroOscurecido
						text-align left
					.area:last-child
						font-size .7em
						color grisClaroOscurecido
						text-align right
				.input-instalacion
					border-radius 0
					margin-bottom .5em
					color grisClaroOscurecido
					border none
				.checkinstalacion
					padding-top .8em
					line-height 1.9em
					font-size .8em
					color grisClaroOscurecido
					.condiciones
						color verdecesped
						cursor pointer
						transition all .4s ease
					.condiciones:hover
						color verdeOscuro
				.checkinstalacion input
					margin-top 1em
					font-size .5em
				.botonEnviar
					margin-top .8em
					width 100%
					border-radius 0
					background azulOscuro
					padding .8em 0
					color white
					font-weight 300
					transition all .4s ease
					cursor pointer
				.botonEnviar:hover
					background black


		.main-aside-cats
			border 1px solid verdecesped
			padding-top 3em
			margin-top .5em
			margin-bottom .5em
			.h2cats
				position absolute
				width 100%
				text-align center
				margin 0
				top 0
				left 0
				padding 1em 0
				color white
				font-size .7em
				font-weight 400
				background verdecesped
			.ulcats
				list-style none
				padding 0
				margin 0
				.licats
					margin-bottom .5em
					.acats
						color grisClaroOscurecido
						text-align left
						text-decoration none
						font-size .9em
					.flaticon-cesped:before
						color verdecesped
						margin-right 1em
						margin-left: 0.5em;
						font-size .8em
					.acats:hover
						color verdecesped
				.licats:last-child
					margin-bottom 1em
		.main-aside-tutos
			margin-top .5em
			margin-bottom 1em
			padding-top 2em
			padding-bottom 2em
			background verdecesped
			color white
			box-shadow 0 2px 1px verdeOscuro
			font-size .9em
			.ptutos
				font-weight 300
				margin-bottom .2em
			.atutos
				font-weight 400
				color verdeOscuro
				text-decoration none
				transition all .5s ease
				cursor pointer
			.atutos:hover
				color white
			.flaticon-cesped:before
				position: absolute
				right: .8em
				bottom: -1px
			.flaticon-cesped:before
				opacity .3
				font-size 1.8em
		.main-aside-europeo
			margin-top .5em
			margin-bottom .5em
			padding 2em 0 2em 35%
			background azulEuro url("../img/europe-logo.png") 20px center no-repeat
			background-size 30%
			color white
			letter-spacing 2px
			text-align center
			.peuro
				color white
				font-weight 300
				.span-europeo
					color amarilloEuro


