// Mega Menu

// .headercesped
// 	.dropdown:hover .dropdown-menu
// 		display block
// 		opacity 1
// 		margin-top 0
// 	.dropdown .dropdown-menu
// 		display block
// 		opacity 0
// 		transition opacity .3s ease
// 		transition margin-top .3s ease
// 		margin-top 2em


.headercesped
	.cesped-menu-item > a
		background-color white!important
	.navbar-nav> .dropdown-menu
		margin-top 2em
		transition all 5s ease
	.navbar-nav>.open>.dropdown-menu
		margin-top 0
	.deco-triangulo
		margin-top -1.7em
		margin-left 12.1em
		text-shadow 0 -1px 1px grisClaro
		color white
	.lista-megamenu-vertical
		text-transform none
		list-style none
		padding-left  0
	.lista-megamenu-vertical a
		text-decoration none
		color grisClaroOscurecido
	.lista-megamenu-vertical a:hover
		color verdecesped
	.lista-megamenu-imagenes-horizontal
		list-style none
		padding-left  0
		text-align center
		position relative
	.lista-megamenu-imagenes-horizontal li
		float left
		margin .2em
		size 22% auto
		overflow hidden
	.lista-megamenu-imagenes-horizontal img
		height auto
		overflow hidden
	.lista-megamenu-imagenes-horizontal a
		display inline-block
		text-decoration none
		text-transform none
		font-size .8em
		color grisClaroOscurecido
	.lista-megamenu-imagenes-horizontal a:hover
		color verdecesped
	.lista-megamenu-vertical li
		padding-bottom .5em
	.title-megamenu
		font-size 1em
		color verdecesped
	.lista-megamenu-imagenes-vertical
		text-decoration none
		list-style none
		padding 0
		margin 0
	.lista-megamenu-imagenes-vertical li
		margin-bottom .8em
		text-align center
	.lista-megamenu-imagenes-vertical li:last-child
		margin-bottom 0


@media (max-width: 991px)
	.headercesped
		.lista-megamenu-imagenes-horizontal li
				float left
				margin .2em
				size 28% auto
				overflow hidden


