// Menu
@media (min-width: 768px)
	.headercesped
		.navbar-default
			background-color transparent
			border none
		.cesped-menu-item
			text-transform uppercase
			border-bottom 1px solid verdecesped
			margin-left .5em
			font-weight 400
			color black
			cursor pointer
			font-size .8em
			ul.dropdown-menu
				background-color: rgba(255, 255, 255, 0.96);
		.cesped-menu-item.home-link
			border-bottom 1px solid transparent
			color navMenuItem
		.cesped-menu-item:first-child
			margin-left 0
		.navbar-nav
			width: 100%
			text-align: center
			> li
				float: none
				display: inline-block
		.cesped-menu-item > a
			padding-bottom: 0.1em;



