// necesita instalacion

// horizontal
@media (min-width: 991px)
	.necesita-instalacion.necesita-instalacion__horizontal
		background white
		font-size 1.5em
		.h2instalacion
			text-align center
			color azulOsuro
			font-size 1em
			font-weight 500
			margin-bottom 2em
			margin-top 1em
		.no-pr
			padding-right .15em
		.no-pl
			padding-left .15em
		.form-group
			text-align center
			position relative
			.wrap-slider-in
				max-width 40%
			.slider-wrap-m2
				font-size: 1.2em
				max-width: 800px
				margin: 0 auto 1em
				position: relative
				width 100%
				display inline-block
				.col-area-1,.col-area-2,.col-area-3
					margin 0
					padding 0
				.col-area-1
					position absolute
					margin-left -1.8em
					margin-top -0.15em
				.col-area-2
					display block
					margin 0
					padding 0
					border 0
					position relative
					width 100%
					min-width 100%
				.col-area-2 input
					width 100%
				.col-area-3
					position: absolute
					margin-left: .5em
					margin-top: -0.15em
					left: 100%;
					text-align left
				.area
					font-size .7em
					color grisClaroOscurecido
					text-align left
				.area:last-child
					font-size .7em
					color grisClaroOscurecido
					text-align right
				.slider-horizontal
					width 100%!important
			.input-instalacion
				border-radius 0
				margin-bottom .5em
				color grisClaroOscurecido
				border 0
				box-shadow none
				background grisClaroPlus
			.checkinstalacion
				padding-top .6em
				line-height 1.9em
				font-weight 300
				font-size .8em
				color grisClaroOscurecido
				.condiciones
					color verdecesped
					cursor pointer
					transition all .4s ease
				.condiciones:hover
					color verdeOscuro
			.botonEnviar
				margin-top .8em
				width 100%
				max-width 500px
				border-radius 0
				background azulOscuro
				padding .8em 0
				color white
				font-weight 300
				transition all .4s ease
				cursor pointer

// vertical

.necesita-instalacion
	background grisClaroPlus
	margin-bottom 1em
	height auto
	overflow hidden
	.h2instalacion
		text-align center
		color azulOsuro
		font-size .9em
		font-weight 400
		margin-bottom 5em
		margin-top 2em
	.form-group
		.wrap-slider-in
			//max-width 40%
		.slider-wrap-m2
			left 0
			margin -3em 0 0
			position absolute
			width 100%
			.col-area-1,.col-area-2,.col-area-3
				margin 0
				padding 0
			.col-area-1
				width 20%
				float left
				text-align right
				padding-right .9em
			.col-area-2
				float left
				margin 0
				padding 0
				border 0
				position relative
				width 60%
				.slider-horizontal
					width 100% !important
			.col-area-2 input
				width 70%
			.col-area-3
				width 20%
				float right
				text-align left
				padding-left .9em
			.area
				font-size .7em
				color grisClaroOscurecido
				text-align left
			.area:last-child
				font-size .7em
				color grisClaroOscurecido
				text-align right
		.input-instalacion
			border-radius 0
			margin-bottom .5em
			color grisClaroOscurecido
			border none
		.checkinstalacion
			padding-top .8em
			line-height 1.9em
			font-size .8em
			color grisClaroOscurecido
			.condiciones
				color verdecesped
				cursor pointer
				transition all .4s ease
			.condiciones:hover
				color verdeOscuro
		.checkinstalacion input
			margin-top 1em
			font-size .5em
		.botonEnviar
			margin-top .8em
			width 100%
			border-radius 0
			background azulOscuro
			padding .8em 0
			color white
			font-weight 300
			transition all .4s ease
			cursor pointer
		.botonEnviar:hover
			background black
.casos-product
	.necesita-instalacion
		.form-group
			.slider-wrap-m2
				.col-area-1
					width 30%
				.col-area-2
					width 40%
				.col-area-3
					width 30%
				