// grid de categorías
.main-content-single
	.configurador-compra
		background grisClaroPlus
		border 1px solid grisClaro
		.h2
			width 100%
			margin 0
			padding .5em 0
			background grisClaro
			color grisClaroOscurecido
			font-size 1em
			font-weight 500
			text-align center
			margin-bottom 1em
		p
			border-bottom 1px solid grisClaro
			padding-bottom 1em
			margin-bottom 1em
		.carrito-total
			.precio-txt-total
				color grisClaroOscurecido
				text-align left
			.precio-total
				color verdecesped
				font-weight 700
				font-size 2.2em
				text-align right
			.moneda-total
				color verdecesped
				font-weight 300
				font-size 1em
				padding 0 .3em
				text-align right
			.impuestos-total
				padding-left .5em
				color grisClaroOscurecido
				font-size .8em
				text-align right
	.bton-total
		width 100%
		padding 1em 0
		background verdecesped
		color white
		margin-top 1em
		outline 0
		border none
		box-shadow 0 2px 0 verdeOscuro
	.bton-total::before
		margin-right 1em

	.producto-precio
		padding-top 1em
		.precio
			color verdecesped
			font-weight 700
			font-size 2.2em
		.moneda
			color verdecesped
			font-weight 300
			font-size 1em
			padding 0 .3em
		.impuestos
			padding-left .5em
			color grisClaroOscurecido
			font-size .8em
	.producto-altura
		.altura-cesped
			color grisOscuro
			font-size .9em
			font-weight 300
		.altura-cesped::before
			padding-left 0
			margin-left 0
			padding-right .5em
			font-size .8em
		.stockage
			color grisOscuro
			padding-left 1em
			font-size .9em
			font-weight 300
		.stockage::before
			padding-left 0
			margin-left 0
			padding-right .5em
			font-size 1.1em
	.descripcion-producto
		font-size .9em
		font-weight 300
		color grisClaroOscurecido
		padding-top 2em
	.h1
		font-size 1.5em
		font-weight 400
		color grisOscuro
	.main-product-img
		overflow hidden
		heigh auto
		width 100%
		box-shadow 0 1px 2px grisOscuro
		transition all 1s ease
		.main-imagen-img
			transition all 1s ease
			overflow hidden
			width 100%
			vertical-align middle
	.mini-product-img
		float left
		overflow hidden
		heigh auto
		width 80px
		margin 1em .5em
		cursor pointer
		.min-imagen-img
			overflow hidden
			width 100%
	.mini-product-img:first-child
		margin-left 0
	#helperVerticalAlign
		content:""
		display: inline-block
		height: 100%
		vertical-align: middle
	.metadatos
		.h2metadata
			font-size 1.3em
			color verdecesped
			font-weight 300
			margin-bottom 1em
		p
			font-size .8em
			font-weight 300
			color grisClaroOscurecido
			strong
				color grisClaroOscurecido
.asideproduct
	margin-top 2em
	margin-bottom 3em
	heigh auto
	overflow hidden
	.rowrealacionado
		heigh auto
		overflow hidden
		margin-bottom 1em
		.productos-relacionados
			font-size 1.2em
			color grisOscuro
			margin-top 0
			margin-bottom 1.5em
			text-align left!important
		.categorias-grid
			font-size .7em
			figure
				overflow hidden
				heigh auto
				width 100%
				img
					width 100%
					overflow hidden
					heigh auto
		.descuento
			font-size .8em
	.casos-product
		.figurecasos
			position relative
			margin 0 auto
			width 90%
			overflow hidden
			heigh auto
			box-shadow 0 1px 2px grisOscuro
			img
				width 100%
				overflow hidden
				heigh auto
		.h2casos
			font-size 1.2em
			font-weight 400
			color grisOscuro
		.pcasos
			font-size 1em
			font-weight 300
			color grisClaroOscurecido


