@import 'nib';

@import bootstrap;


@import 'reset.styl';

@import 'typo.styl';
@import 'colores.styl';
@import 'general.styl';
@import 'hover.styl';

@import 'form-slider.styl';
@import 'owl.styl';

@import 'menu.styl';
@import 'yamm';
@import 'mega-menu.styl';
@import 'header.styl';
@import 'footer.styl';
@import 'home-main-content.styl';
@import 'destacados-blog.styl';
@import 'clientes-destacados.styl';
@import 'casosdeuso-destacados.styl';
@import 'necesita-instalacion.styl';
@import 'categorias-grid.styl';
@import 'tienda-main-content.styl';




