@import 'nib';
@import bootstrap;
@import 'reset.styl';
@import 'typo.styl';
@import 'colores.styl';
@import 'general.styl';
@import 'footer.styl';
@import 'menu.styl';


// estamos usando estas dos cacas ?? harl
#test-pelota
	transition: all .5s ease
	size 5em 5em
	background red
	border-radius 50%
	&:hover
		background blue
		border-radius 0
		size 35em 35em




