// Mega Menu

// .headercesped
// 	.dropdown:hover .dropdown-menu
// 		display block
// 		opacity 1
// 		margin-top 0
// 	.dropdown .dropdown-menu
// 		display
// 		transition opacity .3s ease
// 		transition margin-top .3s ease
// 		margin-top 2em
.tienda
	.main-content-wrap.headercesped
		box-shadow 0 1px 2px grisClaro
		height auto
		overflow hidden
		display block
		.banner-sub-menu
			background url(../img/tienda-banner.jpg) center no-repeat
			background-size cover
			padding 4em 0
			margin-bottom 1em
			.h1
				font-size 1.5em
				color white
				font-weight 500
				text-shadow 1px 1px 2px grisOscuro
			.p
				color white
				font-weight 300
				text-shadow 1px 1px 2px grisOscuro
		.cesped-menu-item > a
			background-color white!important
		.navbar-nav> .dropdown-menu
			margin-top 2em
			transition all 5s ease
		.navbar-nav>.open>.dropdown-menu
			margin-top 0
		.deco-triangulo
			margin-top -1.7em
			margin-left 12.1em
			text-shadow 0 -1px 1px grisClaro
			color white
		.lista-megamenu-vertical
			text-transform none
			list-style none
			padding-left  0
		.lista-megamenu-vertical a
			text-decoration none
			color grisClaroOscurecido
		.lista-megamenu-vertical a:hover
			color verdecesped
		.lista-megamenu-imagenes-horizontal
			list-style none
			padding-left  0
			text-align center
			position relative
		.lista-megamenu-imagenes-horizontal li
			float left
			margin .2em
			size 22% auto
			overflow hidden
		.lista-megamenu-imagenes-horizontal img
			height auto
			overflow hidden
		.lista-megamenu-imagenes-horizontal a
			display inline-block
			text-decoration none
			text-transform none
			font-size .8em
			color grisClaroOscurecido
		.lista-megamenu-imagenes-horizontal a:hover
			color verdecesped
		.lista-megamenu-vertical li
			padding-bottom .5em
		.title-megamenu
			font-size 1em
			color verdecesped
		.lista-megamenu-imagenes-vertical
			text-decoration none
			list-style none
			padding 0
			margin 0
		.lista-megamenu-imagenes-vertical li
			margin-bottom .8em
			text-align center
		.lista-megamenu-imagenes-vertical li img
			width 5em
		.lista-megamenu-imagenes-vertical li figure
			max-width 100px
			height auto
			overflow hidden
		.lista-megamenu-imagenes-vertical li:last-child
			margin-bottom 0



@media (max-width: 991px)
	.headercesped
		.lista-megamenu-imagenes-horizontal li
				float left
				margin .2em
				size 28% auto
				overflow hidden


