// typo
roboto = 'Roboto', sans-serif
body
	font-family roboto!important
	font-size 16px

// sizes
.typo-100
	font-weight 100
.typo-300
	font-weight 300
.typo-400
	font-weight 400
.typo-500
	font-weight 500
.typo-700
	font-weight 700
.typo-900
	font-weight 900


// ICON FONTS
@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}


.flaticon-cesta:before {
	content: "\e000";
}
.flaticon-check:before {
	content: "\e001";
}
.flaticon-siguiente:before {
	content: "\e002";
}
.flaticon-descuento1:before {
	content: "\e003";
}
.flaticon-descuento2:before {
	content: "\e004";
}
.flaticon-lista:before {
	content: "\e005";
}
.flaticon-camioneta1:before {
	content: "\e006";
}
.flaticon-camioneta2:before {
	content: "\e007";
}
.flaticon-buscar:before {
	content: "\e008";
}
.flaticon-home:before {
	content: "\e009";
}
.flaticon-grid:before {
	content: "\e00a";
}
.flaticon-cesped:before {
	content: "\e00b";
}
.flaticon-altura:before {
	content: "\e00c";
}
.flaticon-sales:before {
	content: "\e00d";
}
.flaticon-fb:before {
	content: "\e00e";
}
.flaticon-triangulo:before {
	content: "\e00f";
}
.flaticon-tw:before {
	content: "\e010";
}
.flaticon-teleoperador:before {
	content: "\e011";
}